.presentation {
    &__wrapper {
        @extend %main-wrapper;
        text-align: center;
    }
    &__title {
        @extend %title;
    }
    &__subtitle {
        @extend %subtitle;
        
    }

    &__description {
        text-align: left;
        display: flex;
        .content {
            flex: 0 0 75%;
            p {
                margin: 0;
                padding: 0 0 7px 0;
            }
        }
        .social {
            flex: 0 0 25%;
            a {
                display: block;
                text-align: center;
                text-decoration: none;
                transition: all 0.2s ease-in-out;
                
                &:nth-child(2) {
                    margin: 40px 0 0;
                }
                &:hover {
                    svg.in,
                    svg.hithub path.head {
                        fill: $red-role !important;
                    }
                }

            }
            svg.in,
            svg.hithub {
                transition: all 0.2s ease-in-out;
            }
            
            &__title {
                font-family: 'Roboto Condensed', Helvetica, sans-serif;
                margin: 25px 0;
                text-transform: uppercase;
                text-align: center;
                font-weight: 700;
                position: relative;
                transition: all 0.2s ease-in-out;
                font-size: 24px;
                line-height: 28px;
                margin: 0;
                color: $red-role;
            }
            &__see-more {
                @extend %subtitle;
                margin: 0;
                color: $red-role;
                padding: 10px 0 0;
            }

        }
    }
}